@inject IUserService users;

@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    @if (users.UserFullName(User.Id()) is var fullName && fullName != null)
    {
            <h2  class="display-4">Hello, @fullName!</h2>
    }
    else
    {
            <h2  class="display-4">Hello, @User?.Identity?.Name!</h2>
    }
    <p class="lead mb-1 mt-3">
        This is your administrator area - you can <b>read</b>, <b>create</b>,
        <b>delete</b>, <b>edit</b> projects and see all <b>users</b>.
    </p>
    <hr class="my-4">
    <a asp-area="" asp-controller="Project" asp-action="All"
       class="btn btn-primary btn-lg">All Projects</a>
       
       <span>  |   </span>

       <a asp-area="" asp-controller="Project" asp-action="TopRated"
       class="btn btn-primary btn-lg">Top 6 Rated Projects</a>
       
    <span>  |   </span>
    
    <a asp-area="" asp-controller="Project" asp-action="Add"
       class="btn btn-primary btn-lg">Add Projects</a>
       
       <span>  |   </span>

       <a asp-area="Admin" asp-controller="User" asp-action="All"
       class="btn btn-primary btn-lg">All Users</a>
    
    <span>  |   </span>

    <a asp-area="Admin" asp-controller="Project" asp-action="Favourites"
       class="btn btn-primary btn-lg">Favourites</a>
</div>
