@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">
    <h2 class="display-4">Hello, User!</h2>
    <p class="lead mb-1 mt-3">
        This is the user area - you can <b>read</b> and <b>select</b> projects.
    </p>
</div>