@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DesignHelper</h1>
    <p>You can choose different architectural and interior design projects in here.</p>
</div>
